.item-img-cart {
    max-height: 100px !important;
    max-width: 100px;
}

.item-cart {
    gap: 0;
}

.btn {
    padding: 1rem !important;
    min-width: 45px;
}

.item-cart-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.item-cart-container button {
    height: fit-content;
    padding: 12px 16px;
    border: none;
    border-radius: 2px;
    color: #000;
    background-color: #eee;
    font-size: 18px;
    font-weight: bold;
}

.cart-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.cart-last-btns {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.cart-last-btns button {
    font-size: 17px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.cart-last-btns button:last-child {
    background-color: orange;
    color: #fff;
}

.cart-last-btns button:last-child:hover {
    background-color: rgb(231, 143, 27);
}

.cart-last-btns button:first-child:hover {
    background-color: rgb(210, 210, 210);
}

.cart-amount {
    gap: 6px !important;
}